*{
    margin: 0;

}
header * {
    display: inline;
}
.navbar{
    display:flex;

}
.menu{
    margin-top: 30px;

}
.menu li a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
}
.cover-photo{
    background-image: url(images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;

}
span{
    color: orange;
}
.eat-healthy{
    color: white;
    margin-left: 7%;
    padding-top: 8%;
    font-weight: bold;
}
.button{
    color: white;
    text-decoration: none;
    background-color: orangered;
    padding: 8px 13px;
    border-radius: 7px;
    font-weight: bold;

}
.service{
    display: flex;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    padding-top: 5%;

}
.item{
    text-align: left; 
    background-color: #f1f2f6;
    box-shadow:  10px  10px 40px #485460;
    margin: 20px;
    border-radius: 7px;
    padding: 50px 20px 50px 25px;
    font-size: 15px;
}
.special-item{
    margin-top: 45px;
    text-align: center;
}
span{
    color: orange;
}
.container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.cards{
    width: 242px;
    margin: 10px;
    background-color: #dfe4ea;
    border-radius: 10px;
}
.card-img img{
    width: 100%;
}
.card-body h2{
    text-align: center;
}
.card-body p{
    text-align: justify;
    padding: 5px;
    margin-bottom: 10px;
}
.card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-footer button{
    width: 100px;
    background-color:#ff4757;
    color: white;
    border-radius: 10px;
    border: 2px solid #1B9CFC;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 400;
}
.card-footer button:hover{
    background-color: #2C3A47;
    transition: 1s;
    color: white;
    border: 2px solid tomato;
}
.cards:hover{
    box-shadow: 5px 15px 30px gray;
    transition: 0.5;
}